language: python
sudo: required
dist: trusty
python:
  - 2.7

services:
  - postgresql

addons:
  postgresql: "9.5"

env:
  - DJANGO=1.10

before_install:
  - sudo /etc/init.d/postgresql stop
  - psql --version

install:
  - pip install -r requirements.txt
  - pip install coveralls

before_script:
  - pip freeze

script:
  - coverage run --source chaven manage.py test

after_success:
  - coveralls
